body {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    background-color: cadetblue;
    flex: 1;
    color: white;
    margin: 10px 10px 10px 0;
}

.col-2 {
    background-color: cadetblue;
    flex: 2;
    color: white;
    margin: 10px 10px 10px 0;
}

.col-3 {
    background-color: cadetblue;
    flex: 3;
    color: white;
    margin: 10px 10px 10px 0;
}